{% extends "base.html" %}

{% load static %}

{% block title %}
Detail
{% endblock title %}

{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">Author: {{ article.author }}</div>
        <div class="col-12">
            <!-- Django出于安全的考虑，会将输出的HTML代码进行转义，
                这使得article.body中渲染的HTML文本无法正常显示。
                管道符|是Django中过滤器的写法，而|safe就类似给article.body贴了一个标签，
                表示这一段字符不需要进行转义了。 -->
            <p>{{ article.body|safe }}</p>
        </div>
        <a href='{% url "article:article_delete" article.id %}'>删除文章</a>
    </div>
</div>

{% endblock content %}